{% block mr_tree_widget %}
    {{ form_label(form) }}
    <div class="mrTreeWidget" data-mr-tree-widget='{"name": "{{ field_id }}"}'></div>

    <script>
        window['{{ field_id }}'] = {{ tree | json_encode | raw }}
    </script>
{% endblock %}